<div class="product">
    <img src="../{{drinkimg}}" class="product-photo">
    <p>{{drinkname}}</p>
    <img src="../images/icons8-heart-50.png" class="heart">
      <img src = "../images/shopping-cart.png" class = "cart-icon">
    
</div>