<option value="" disabled selected>Select a question</option>
<option value="01">What was the name of your favorite childhood stuffed toy?</option>
<option value="02">What was the first movie you saw in a theater?</option>
<option value="03">What was the name of the first foreign country you visited?</option>
<option value="04">What was the first name of your favorite math teacher in high school?</option>
<option value="05">What was the name of the first video game you remember playing?</option>
<option value="06">In what city did your parents meet?</option>
<option value="07">What was your driving instructor's first name?</option>
<option value="08">What was the first dish you learned to cook?</option>