<div class="order-container">
    <div class="order-item">
        <div class="order-details">
            <p class="order-number">Order #{{orderno}}</p><br>
            <p class="item-quantity">Number of Drinks: {{quantity}}</span>
            <br>
            <p span class="order-amount">Amount Due: PHP {{amountdue}}</span></p>
            <p>Status: <span id="status">{{status}}</span></p>
        </div>
    </div>
</div>