<html>

<head>
    <!--<link rel="stylesheet" href="../css/menustyle.css">-->

</head>
<body>



<div id = "topnavbar">
        <div id = "logo">
            <img src="../images/cocologo.jpg">
        </div>

        <div class="topnav">
            <a href ='/menu' id="menu-tab">Menu</a>
            <a href ='/favorites' id="favorites-tab">Favorites</a>
            <a href = '/cart'>Shopping Cart</a>
            <a href="/status">Status</a>
            <a href ='/profile' id="profile-tab">Profile</a>
        </div>
</div>
</body>
</html>