#box {
    background-color: red;
    padding: 20px;
    border: 5px solid black;
    margin: 20px;
    width: 100px;
    height: 200px;
  
    
}
img {
    
    width: 100px;
    height: 100px;
  
}

#logo {
    
    border: solid #F07F19;
    float: right;
    width: 105px;
    height: 105px;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
   
    
}

#content {
    background-color: green;
    
    
}