<html>

<head>
    
     <title>CoCo Helper App</title>

    
     <link rel="stylesheet" href="css/cartstyle.css">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

     
</head>

<body>
    
    <div id = "nav-holder">
        {{>topnavbaruser}}
    </div>
    

    
    <h id="sc-header">Your shopping cart includes: </h>

    {{#each cartentries}}
            {{>cartentry drinkimg=drinkimg drinkname=drinkname size=size price=price amount=amount}}

    {{/each}}

    

    

    <div id ="checkout">
        <text id="total">Total</text>
        <text id = "total-amt">PHP 550.00</text>
        <br>
        <text id="itemcount">5 items</text><br>
        <button type="button" id="checkout-button">Checkout</button>
    </div>

    


    

    

    
    
  

    
<script>
    /*
    $(document).ready(function() {
    $(".plus").click(function (e) { 
        var qty = parseInt(document.getElementsByClassName('amt')[0].innerHTML,10);
        console.log(qty);
        qty++;
        $(".amt").html(qty);

        
        
    });

    $(".minus").click(function (e) { 
        var qty = parseInt(document.getElementsByClassName('amt')[0].innerHTML,10);
        console.log(qty);

        if(qty >= 2)
            qty--;
        $(".amt").html(qty);
        
    });


});
*/
</script>

</body>

</html>