<html>

<head>
    
     <title>CoCo Helper App</title>

    
     <link rel="stylesheet" href="css/cartstyle.css">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

     
</head>

<body>
    <!--CSS conflict with topnavbar partial, so cant use partial -->
      <div id = "topnavbar">
        <div id = "logo">
            <img src="../images/cocologo.jpg">
        </div>

        <div class="topnav">
            <a href ='/menu' id="menu-tab">Menu</a>
            <a href ='/favorites' id="favorites-tab">Favorites</a>
            <a href = '/cart'>Shopping Cart</a>
            <a href="/status">Status</a>
            <a href ='/profile' id="profile-tab">Profile</a>
        </div>
</div>
    

    
    <h id="sc-header">Your shopping cart includes: </h>

    {{#each cartentries}}
            {{>cartentry drinkimg=drinkimg drinkname=drinkname size=size price=price amount=amount id=id sugarlevel=sugarlevel icelevel=icelevel}}

    {{/each}}

    

    

    <div id ="checkout">
        <text id="total">Total</text>
        <text id = "total-amt">PHP 00.00</text>
        <br>
        <text id="itemcount">0 items</text><br>
        <button type="button" id="checkout-button">Checkout</button>
    </div>

    


    

    

    
    
  

    
<script>

    //resdisplay total items and total amount to pay shown
    function refreshpage(){
        var total = document.getElementById('itemcount');
        var amounts = document.getElementsByClassName('amt');
        var totalnum = 0;
        var j;

        for(j = 0; j < amounts.length; j++) {

            totalnum += parseInt(amounts[j].innerHTML, 10);

        }

        total.innerHTML = "" + totalnum + " Items" ;

        var drinkprices = document.getElementsByClassName('price');
        var totalamountcontainer =  document.getElementById('total-amt');

        var i;
        var totalAmount = 0;


        for(i = 0; i < drinkprices.length; i++) {
            
            totalAmount += parseInt(drinkprices[i].innerHTML.replace("PHP ", ""));
        }

        totalamountcontainer.innerHTML = "PHP " + totalAmount + ".00";





    }
    
    $(document).ready(function() {

    

    refreshpage();
    // event handler for when remove is clicked
    $('.product').on('click', '.remove', function () {
        var entryToDelete = this.parentElement;
        

        var drinkname = entryToDelete.children[1].innerHTML;
        var size = entryToDelete.children[3].innerHTML.replace("Size: ", "");
        var sugarlevel = entryToDelete.children[5].innerHTML.replace("Sugar Level: ", "");
        var icelevel = entryToDelete.children[7].innerHTML.replace("Ice Level: ", "");

        var amount = entryToDelete.children[14].innerHTML;

        var entry = {
            drinkname: drinkname,
            size: size,
            sugarlevel: sugarlevel,
            icelevel: icelevel,
            amount: amount

        }

        $.get('/delete-entry', entry);
        entryToDelete.parentElement.removeChild(entryToDelete);
        refreshpage();


    });


    $(".plus").click(function (e) { 
        var qty = parseInt(document.getElementsByClassName('amt')[0].innerHTML,10);
        console.log(qty);
        qty++;
        $(".amt").html(qty);

        
        
    });

    $(".minus").click(function (e) { 
        var qty = parseInt(document.getElementsByClassName('amt')[0].innerHTML,10);
        console.log(qty);

        if(qty >= 2)
            qty--;
        $(".amt").html(qty);
        
    });


});

</script>

</body>

</html>