<html>

<head>
    
     <title>CoCo Helper App</title>

    
     <link rel="stylesheet" href="../public/css/menustyle.css"> 
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

     
</head>

<body>
    
    <div id = "topnavbar">
        <div id = "logo">
            <img src="../public/images/cocologo.jpg">
        </div>

        <div class="topnav">
            <a id="menu.html">Menu</a>
            <a id="favorites.html">Favorites</a>
            <a href="cart.html">Shopping Cart</a>
            <a href="status.html">Status</a>
            <a href="#profile">Profile</a>
        </div>
    </div>

    <div id="favorites-page" class = "category">
        <div class = "product">
            <img src="../public/images/pandamilktea.png" class = "product-photo">
            <p>Panda Milk Tea</p>
            <img src="../public/images/favorite-icon.png" class = "heart">
            <img src = "../public/images/shopping-cart.png" class = "cart-icon">
        </div>
        <div class = "product">
            <img src="../public/images/whitepearlmt.png" class = "product-photo">
            <p>White Pearl Milk Tea</p>
            <img src="../public/images/favorite-icon.png" class = "heart">
            <img src = "../public/images/shopping-cart.png" class = "cart-icon">
        </div>
        <div class = "product">
            <img src="../public/images/lemondunk.png" class = "product-photo">
            <p>Lemon Dunk</p>
            <img src="../public/images/favorite-icon.png" class = "heart">
            <img src = "../public/images/shopping-cart.png" class = "cart-icon">
        </div>

    </div>


    
  

    
    

</body>

</html>