<html>

<head>
    <title>CoCo Helper App</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/menustyle.css">
</head>

<body>
    <div id="nav-holder">
        {{> topnavbaruser}}
    </div>

    <div id ="edit-popup">
        <h1 id="drinkname-header"> </h1>
        
        <form id = "editform">
            <hr>

            <label for="size">Size:</label>
            <select name="size" id="size">
              <option value="regular">Regular</option>
              <option value="large">Large</option>
              
            </select>
            <br><br>
            <label for="sugarlevel">Sugar Level:</label>
            <select name="sugarlevel" id="sugarlevel">
              <option value="1.2">1.2</option>
              <option value="1">1</option>
              <option value="0.7">0.7</option>
              <option value="0.5">0.5</option>
              <option value="0.3">0.3</option>
              <option value="0">0</option>
              
            </select>
            <br><br>

            <label for="icelevel">Ice Level:</label>
            <select name="icelevel" id="icelevel">
              <option value="more">More Ice</option>
              <option value="normal">Normal Ice</option>
              <option value="less">Less Ice</option>
              <option value="none">Cold But No Ice</option>
             
              
            </select>

            <hr>
            <text id="edit-pricetext">Price:</text>
            <text id = "edit-price">PHP 100.00</text>
            <input id ='addtocart-button' type="submit" value="Add To Cart">
          </form>

    </div>
    
    <div id="favorites-page" class="category">
        {{#each data}}
        {{> favorites_drink drinkname=drinkname drinkimg=drinkimg}}
        {{/each}}
    </div>

    <script>
        $(document).ready(function () {
            $('.product').on('click', '.heart', function () {
                var drinkname_p = this.previousElementSibling;
                var drinkname = drinkname_p.innerHTML;
                var parent = $(this).parent();
                var current_drink;
                var favorite;

                parent.remove();

                $.get("/find-drink", { drinkname: drinkname }, function (result, status) {
                    console.log("DATA RECEIVED " + result);
                    current_drink = result;

                    favorite = {
                        drinkname: current_drink.drinkname,
                        drinkimg: current_drink.drinkimg
                    };

                    $.post('/removefavorites', favorite, function (result, status) { });
                });
            });

            // event handler for when a cart-icon of a drink is clicked
            $('.product').on('click', '.cart-icon', function () {
                /*Dim the background  */
                var dimbg = document.createElement('div');
                var navholder = document.querySelector("#nav-holder");


                dimbg.setAttribute('class', 'dim-bg');

                navholder.insertAdjacentElement('beforebegin', dimbg);

                //get drinkname (each drinkname HAS to be unique, add it to form validation later)
                var prevsib = this.previousElementSibling;
                //p containing drinkname
                var drinkname_p = prevsib.previousElementSibling;
                //inner HTML of p contains drinkname
                var drinkname = drinkname_p.innerHTML;

                //make drinkname accessible from req.query
                $.get("/find-drink", { drinkname: drinkname }, function (result, status) {
                    console.log("DATA recieveed from find-drink req to server in client: " + result);
                    var header = document.getElementById('drinkname-header');
                    var price = document.getElementById('edit-price');

                    cur_drink = result;

                    header.innerHTML = result.drinkname;
                    price.innerHTML = "PHP" + result.regprice + ".00 / PHP" + result.lprice + ".00";

                });

                /*Show edit drink form */
                $("#edit-popup").css('display', 'block');
            });

            $('#addtocart-button').click(function () {
                var drink;
                var entry;
                var sugarselect = document.getElementById('sugarlevel');
                var iceselect = document.getElementById('icelevel');
                var sizeselect = document.getElementById('size');
                var price;

                //sugarlevel,icelvel,size
                var sugarlevel = sugarselect.options[sugarselect.selectedIndex].value;
                var icelevel = iceselect.options[iceselect.selectedIndex].value;
                var size = sizeselect.options[sizeselect.selectedIndex].value;

                if (size == 'regular') {
                    price = cur_drink.regprice;
                } else {
                    price = cur_drink.lprice;
                }

                entry = {
                    drinkname: cur_drink.drinkname,
                    sugarlevel: sugarlevel,
                    icelevel: icelevel,
                    size: size,
                    amount: 1,
                    price: price,
                    drinkimg: cur_drink.drinkimg
                };

                $.post('/addtocart', entry, function (result, status) { });
            });
        });
    </script>
</body>

</html>