<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="css/regstyle.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script defer src="/js/forgot.js" ></script>

</head>

<body>
    
    
        <div id ="reghead">
            <img id = "logo" src="images/cocologo_notext.png">

            <h1>Forgot Password?</h1>
            <p id="fpheader" style="padding: 10px;"> 
                If you have forgotten your password, please enter your account's phone number below and click "Reset Password."
            </p>

            <div id = "childhead">
                <form id="fpform" method ="post" action="/resetpassword" enctype="multipart/form-data">
                    <div id="fp1">
                   
                    <label for="pnumber"><br>Phone Number<br></label>
                    <input class ='input' type="number" placeholder="09xxxxxxxxx / 639xxxxxxxxx" name="pnumber" id="pnumber" required>
                    <div id="pnerror">{{error}}</div>
                    <br />
                    <button form ="fpform" class="button" id ="findnumber" type="button" value="findnumber" disabled>Reset Password</button>


                    <div id="fp2">
                        <h2>Security Questions</h2>
                        <p style="padding: 4px;"> Select three security questions below. These questions will help us verify your identity should
                                you forget your password.
                        </p>

                        <br/>
                        <div id="questions">
                            
                            <label for="question1">Question 1: </label>
                            <select id="question1" name="question1" class="question" required>
                                {{> questions }}
                            </select>
                            <label for="answer1">Answer:</label>
                            <input type="text" class ='q_input' placeholder="Answer to Question 1" name="answer1" id="answer1" required>
                            <br /><br />

                            <label for="question2">Question 2: </label>
                            <select id="question2" name="question2" class="question" required>
                                {{> questions }}
                            </select>
                            <label for="answer2">Answer:</label>
                            <input type="text" class ='q_input' placeholder="Answer to Question 2" name="answer2" id="answer2" required>
                            <br /><br />

                            <label for="question3">Question 3: </label>
                            <select id="question3" name="question3" class="question" required>
                                {{> questions }}
                            </select>
                            <label for="answer3">Answer:</label>
                            <input type="text" class ='q_input' placeholder="Answer to Question 3" name="answer3" id="answer3" required>

                        </div>
                        
                        <div id="sqerror" hidden>Some questions are duplicated. <br> Please select three unique questions.</div>
                    </div>
                </form>
            </div>

            
            {{!-- <button form ="fpform" class="button" id ="returnbutton" type="button" value="Return">Return</button> --}}
            {{!-- <button form ="fpform" class="button" id ="registerbutton" type="submit" value="Submit" disabled>Submit</button> --}}
            <br />
            <a href ='/login' class="u-link"><text>Return to Log In</text></a>
        </div>

        
        

    
</body>
</html>