<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="css/regstyle.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script defer src="/js/forgot.js" ></script>

</head>

<body>
    
    
        <div id ="reghead">
            <img id = "logo" src="images/cocologo_notext.png">

            <h1>Forgot Password?</h1>
            <p id="fpheader" style="padding: 10px;"> 
                If you have forgotten your password, please enter your account's phone number below and click "Reset Password."
            </p>

            <div id = "childhead">              
                <form id="fpform" method ="post" action="/change-password" enctype="multipart/form-data">
                    <div id="fp1">
                   
                        <label for="pnumber"><br>Phone Number<br></label>
                        <input class ='input' type="number" placeholder="09xxxxxxxxx / 639xxxxxxxxx" name="pnumber" id="pnumber" required>
                        <div id="pnerror">{{error}}</div>
                        <br />
                        <button form ="fpform" class="button" id ="findnumber" type="button" value="findnumber" disabled>Reset Password</button>
                    </div>

                    <div id="fp2">
                            
                        <h4 style="padding: 4px;"> Q1: <span id="question1"></h4>

                        <label for="answer1">Answer:</label>
                        <input type="text" class ='q_input' placeholder="Answer to Question 1" name="answer1" id="answer1" required>
                        <br /><br />

                        <h4 style="padding: 4px;"> Q2: <span id="question2"></h4>
                        <label for="answer2">Answer:</label>
                        <input type="text" class ='q_input' placeholder="Answer to Question 2" name="answer2" id="answer2" required>
                        <br /><br />

                        <h4 style="padding: 4px;"> Q3: <span id="question3"></h4>
                        <label for="answer3">Answer:</label>
                        <input type="text" class ='q_input' placeholder="Answer to Question 3" name="answer3" id="answer3" required>

                        
                        <div id="qerror" hidden>Some answers are incorrect.</div>
                        <br />
                        <button form ="fpform" class="button" id ="verify" type="button" value="Verify" disabled>Verify</button>
                    </div>

                    <div id="fp4">    

                        <label for="npassword"><br>New Password<br></label>
                        <input class="input password" type="password" placeholder="Enter New Password" name="newPassword" id="npassword" required>
                        <div id="nperror">{{error}}</div>

                        <label for="npassword"><br>Retype New Password<br></label>
                        <input class="input password" type="password" placeholder="Retype New Password" name="retypeNewPassword" id="rnpassword" required>
                        <div id="rnperror">{{error}}</div>

                        
                        <button form ="fpform" class="button" id ="confirmnew" type="submit" value="confirmnew" disabled>Confirm New Password</button>
                    </div>

                </form>
            </div>

            
            
            <br />
            <a href ='/login' class="u-link"><text>Return to Log In</text></a>
        </div>

        
        

    
</body>
</html>