<html>

<head>
    
     <title>CoCo Helper App</title>

    
  

     
</head>

<body>
    <a href="login.html">Log in page</a><br>
    <a href="reg.html">Register page</a><br>
    <a href="cart.html">View Cart</a><br>
    <a href="menu.html">Menu for customer (profile and favorite list is also accessible here by clicking on the nav bar)</a><br>
    <a href="menu_cart.html">Menu for customer when adding a drink to cart</a><br>
    <a href="cart_edit.html">Cart view when customer edits an entry</a><br>
    <a href="cart_req.html">Cart view when customer makes a special requset</a><br>
    <a href="menu_admin.html">Admin view of menu</a><br>
    <a href="admin_add.html">Admin view when adding a drink</a><br>
    <a href="admin_edit.html">Admin view when editing a drinke</a><br>
    <a href="status.html">Status view of customer</a><br>

  
  

    
    

</body>

</html>