<html>

<head>
    
     <title>CoCo Helper App</title>

    
     <link rel="stylesheet" href="css/menustyle.css">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

     
</head>

<body>
    
    <div id = "nav-holder">
        {{>topnavbaruser}}
    </div>

    <div id="favorites-page" class = "category">
        <div class = "product">
            <img src="images/pandamilktea.png" class = "product-photo">
            <p>Panda Milk Tea</p>
            <img src="images/favorite-icon.png" class = "heart">
            <img src = "images/shopping-cart.png" class = "cart-icon">
        </div>
        <div class = "product">
            <img src="images/whitepearlmt.png" class = "product-photo">
            <p>White Pearl Milk Tea</p>
            <img src="images/favorite-icon.png" class = "heart">
            <img src = "images/shopping-cart.png" class = "cart-icon">
        </div>
        <div class = "product">
            <img src="images/lemondunk.png" class = "product-photo">
            <p>Lemon Dunk</p>
            <img src="images/favorite-icon.png" class = "heart">
            <img src = "images/shopping-cart.png" class = "cart-icon">
        </div>

    </div>
	
	<div id="profile-page" class = "category">
		<div class = "profile-tab">
				<h1> Account Overview </h1>
				<h2> Profile </h2>
				<div class = "info-card">
					<div class = "profile-info">
						<p><span class = "profile-def"> Name </span> <span class = "profile-n">John Doe </span></p>
					</div>
				</div>
				<div class = "info-card">
					<div class = "profile-info">
						<p><span class = "profile-def"> Email </span> <span class = "profile-n">guestemail@gmail.com </span></p>
					</div>
				</div>
				<div class = "info-card">
					<div class = "profile-info">
						<p><span class = "profile-def"> Phone Number </span> <span class = "profile-n">0916 626 8390 </span></p>
					</div>
				</div>
				<br><br>
				<h2> Payment Details </h2>
				<div class = "info-card">
					<div class = "profile-info">
						<p><span class = "profile-def"> Payment Method </span> <span class = "profile-n"> GCash </span></p>
					</div>
				</div>
				<div class = "info-card">
					<div class = "profile-info">
						<p><span class = "profile-def"> Method Number </span> <span class = "profile-n">0916 626 8390 </span></p>
					</div>
				</div>
				<br><br>
				<button class="button profile-edit-button">Edit Profile</button>
			</div>
		</div>
	
	</div>


    <div id="menu-proper">
        <h1>MENU</h1>
        <a href="/menu/milktea"><p id ="milk-tea-text" class = "category-choice">Milk Tea</p></a>
        <a href="/menu/fruittea"><p id ="fruit-tea-text" class = "category-choice">Fruit Tea</p></a>
        <a href="/menu/coffee"><p id ="coffee-text" class = "category-choice">Coffee</p></a>
        <a href="/menu/slush"><p id ="slush-text" class = "category-choice">Slush</p></a>
        <a href="/menu/choco"><p id ="choco-text" class = "category-choice">Chocolate</p></a>
        <a href="/menu/freshtea"><p id ="freshtea-text" class = "category-choice">Fresh Tea</p></a>
        <a href="/menu/juice"><p id ="juice-text" class = "category-choice">Juice</p></a>

        
    </div>

    <div id ="milk-tea-menu" class = "category">
        {{#each milktea_drinks}}
            {{> drink_customer drinkname=drinkname drinkimg=drinkimg}}

        {{/each}}
       



    </div>

    

    <script>
    $(document).ready(function() {
        
        //use URL to determine which menu category should be orange

         if (window.location.href.indexOf('fruittea') > 0) {
            
            
            $(".category-choice").css("color", "#3E3B3B");
            $("#fruit-tea-text").css("color", "#F07F19");
            
        } else if (window.location.href.indexOf('coffee') > 0){

           
            $(".category-choice").css("color", "#3E3B3B");
            $("#coffee-text").css("color", "#F07F19");

        } else if (window.location.href.indexOf('slush') > 0) {

    
            $(".category-choice").css("color", "#3E3B3B");
            $("#slush-text").css("color", "#F07F19");

        } else if (window.location.href.indexOf('choco') > 0) {

  
            $(".category-choice").css("color", "#3E3B3B");
            $("#choco-text").css("color", "#F07F19");

        } else if (window.location.href.indexOf('freshtea') > 0) {

     
            $(".category-choice").css("color", "#3E3B3B");
            $("#freshtea-text").css("color", "#F07F19");

        } else if (window.location.href.indexOf('juice') > 0) {


            $(".category-choice").css("color", "#3E3B3B");
            $("#juice-text").css("color", "#F07F19");

        }else {

   
            $(".category-choice").css("color", "#3E3B3B");
            $("#milk-tea-text").css("color", "#F07F19");

        }

      


        //BELOW ARE OLD PARTS FROM PHASE 1

        function switchMenuCategory(drinkid, drinktextid) {

            $(".category").hide();
            $(drinkid).fadeIn();
            $(".category-choice").css("color", "#3E3B3B");
            $(drinktextid).css("color", "#F07F19");

        }

        function switchNavPage(page) {
            $(".category").hide();
            $("#menu-proper").hide();
            $(page).fadeIn();
        }

        $("#fruit-tea-text").click(function (e) { 
            //$(".category[display=block]").css("display", "none");
            /*$(".category").hide();
            $("#fruit-tea-menu").fadeIn();
            $(".category-choice").css("color", "#3E3B3B");
            $("#fruit-tea-text").css("color", "#F07F19");
            */

            switchMenuCategory("#fruit-tea-menu", "#fruit-tea-text");
            
            
            
        });

        $("#milk-tea-text").click(function (e) { 
            //$(".category[display=block]").css("display", "none");
            switchMenuCategory("#milk-tea-menu", "#milk-tea-text");
            
        });

        $("#favorites-tab").click(function (e){
            switchNavPage("#favorites-page", "#favorites-header");
        });
		
		$("#profile-tab").click(function (e){
            switchNavPage("#profile-page", "#profile-header");
        });

        $("#menu-tab").click(function (e){
            window.location.reload();
        });


    });
    </script>
    
  

    
    

</body>

</html>