<html>

<head>
    
     <title>CoCo Helper App</title>

    
     <link rel="stylesheet" href="../public/css/menu_adminstyle.css">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

     
</head>

<body>
    
    <div id = "topnavbar">
        <div id = "logo">
            <img src="../public/images/cocologo.jpg">
        </div>

        <div class="topnav">
            <a id="menu-tab">Menu</a>
            <a id="favorites-tab">Favorites</a>
            <a>Shopping Cart</a>
            <a>Status</a>
            <a href="#profile">Profile</a>
        </div>
    </div>

    <div id="favorites-page" class = "category">
        <div class = "product">
            <img src="../public/images/pandamilktea.png" class = "product-photo">
            <p>Panda Milk Tea</p>
            <img src="../public/images/favorite-icon.png" class = "heart">
            <img src = "../public/images/shopping-cart.png" class = "cart-icon">
        </div>
        <div class = "product">
            <img src="../public/images/whitepearlmt.png" class = "product-photo">
            <p>White Pearl Milk Tea</p>
            <img src="../public/images/favorite-icon.png" class = "heart">
            <img src = "../public/images/shopping-cart.png" class = "cart-icon">
        </div>
        <div class = "product">
            <img src="../public/images/lemondunk.png" class = "product-photo">
            <p>Lemon Dunk</p>
            <img src="../public/images/favorite-icon.png" class = "heart">
            <img src = "../public/images/shopping-cart.png" class = "cart-icon">
        </div>

    </div>


    <div id="menu-proper">
        <h1>MENU</h1>
        <p id ="milk-tea-text" class = "category-choice">Milk Tea</p>
        <p id ="fruit-tea-text" class = "category-choice">Fruit Tea</p>
        <p id ="coffee-text" class = "category-choice">Coffee</p>
        <p id ="slush-text" class = "category-choice">Slush</p>
        <p id ="choco-text" class = "category-choice">Chocolate</p>
        <p id ="freshtea-text" class = "category-choice">Fresh Tea</p>
        <p id ="juice-text" class = "category-choice">Juice</p>

        
    </div>

    <button type="button" id="add-button">Add A Drink</button>

    <div id ="milk-tea-menu" class = "category">
       

        <div class = "product">
            <img src="../public/images/edit.png" class ="edit-icon">
            <img src="../public/images/milktea.png" class = "product-photo">
            <p>CoCo Milk Tea</p>
            <img src="../public/images/icons8-heart-50.png" class = "heart">
            <img src = "../public/images/shopping-cart.png" class = "cart-icon">
        </div>

        <div class = "product">
            <img src="../public/images/edit.png" class ="edit-icon">
            <img src="../public/images/perlmilktea.png" class = "product-photo">
            <p>Pearl Milk Tea</p>
            <img src="../public/images/icons8-heart-50.png" class = "heart">
            <img src = "../public/images/shopping-cart.png" class = "cart-icon">
        </div>

        <div class = "product">
            <img src="../public/images/edit.png" class ="edit-icon">
            <img src="../public/images/pandamilktea.png" class = "product-photo">
            <p>Panda Milk Tea</p>
            <img src="../public/images/icons8-heart-50.png" class = "heart">
            <img src = "../public/images/shopping-cart.png" class = "cart-icon">
        </div>

        <div class = "product">
            <img src="../public/images/edit.png" class ="edit-icon">
            <img src="../public/images/grassjellymt.png" class = "product-photo">
            <p>Grass Jelly Milk Tea</p>
            <img src="../public/images/icons8-heart-50.png" class = "heart">
            <img src = "../public/images/shopping-cart.png" class = "cart-icon">
        </div>

        <div class = "product">
            <img src="../public/images/edit.png" class ="edit-icon">
            <img src="../public/images/whitepearlmt.png" class = "product-photo">
            <p>White Pearl Milk Tea</p>
            <img src="../public/images/icons8-heart-50.png" class = "heart">
            <img src = "../public/images/shopping-cart.png" class = "cart-icon">
        </div>

        <div class = "product">
            <img src="../public/images/edit.png" class ="edit-icon">
            <img src="../public/images/2ladiesmt.png" class = "product-photo">
            <p>2 Ladies Milk Tea</p>
            <img src="../public/images/icons8-heart-50.png" class = "heart">
            <img src = "../public/images/shopping-cart.png" class = "cart-icon">
        </div>



    </div>

    <div id="fruit-tea-menu" class = "category">

        <div class = "product">
            <img src="../public/images/edit.png" class ="edit-icon">
            <img src="../public/images/lemondunk.png" class = "product-photo">
            <p>Lemon Dunk</p>
            <img src="../public/images/icons8-heart-50.png" class = "heart">
            <img src = "../public/images/shopping-cart.png" class = "cart-icon">
        </div>

        <div class = "product">
            <img src="../public/images/edit.png" class ="edit-icon">
            <img src="../public/images/lemonblacktea.png" class = "product-photo">
            <p>Lemon Black Tea</p>
            <img src="../public/images/icons8-heart-50.png" class = "heart">
            <img src = "../public/images/shopping-cart.png" class = "cart-icon">
        </div>
        

    </div>

    

    <script>
    $(document).ready(function() {

        function switchMenuCategory(drinkid, drinktextid) {

            $(".category").hide();
            $(drinkid).fadeIn();
            $(".category-choice").css("color", "#3E3B3B");
            $(drinktextid).css("color", "#F07F19");

        }

        function switchNavPage(page) {
            $(".category").hide();
            $("#menu-proper").hide();
            $(page).fadeIn();
        }

        $("#fruit-tea-text").click(function (e) { 
            //$(".category[display=block]").css("display", "none");
            /*$(".category").hide();
            $("#fruit-tea-menu").fadeIn();
            $(".category-choice").css("color", "#3E3B3B");
            $("#fruit-tea-text").css("color", "#F07F19");
            */

            switchMenuCategory("#fruit-tea-menu", "#fruit-tea-text");
            
            
            
        });

        $("#milk-tea-text").click(function (e) { 
            //$(".category[display=block]").css("display", "none");
            switchMenuCategory("#milk-tea-menu", "#milk-tea-text");
            
        });

        $("#favorites-tab").click(function (e){
            switchNavPage("#favorites-page", "#favorites-header");
        });

        $("#menu-tab").click(function (e){
            window.location.reload();
        });


    });
    </script>
    
  

    
    

</body>

</html>