<html>
    <head>
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
         <link rel="stylesheet" href="/css/menustyle.css">
    </head>

    <body>
        <div id="nav-holder">
            {{> topnavbaruser}}

        </div>
        
        <p>Hello {{firstname}} {{lastname}}</p>

    </body>
    
</html>