<html>

<head>
    
     <title>CoCo Helper App</title>

    
     <link rel="stylesheet" href="status-style.css">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

     
</head>

<body>
    
    <div>
    <div id = "topnavbar">
        <div id = "logo">
            <img src="images/cocologo.jpg">
        </div>

        <div class="topnav">
            <a href = "#menu" id="menu">Menu</a>
            <a>Favorites</a>
            <a>Shopping Cart</a>
            <a>Status</a>
            <a href="#profile">Profile</a>
        </div>
    </div>
    
    <h1 id="status-header">PLACED ORDERS</h1>
    <br>
    <div class="order-container">
        <div class="order-item">
            <div class="order-details">
                <img src="images/lemonblacktea.png">
                <p class="order-number">Order #1051</p>
                <br><br>
                <p class="product-name">Product: Panda Milk Tea</p>
                <p class="order-size">Size: Regular</p>
                <p class="order-date">Date: May 20, 2022</p>
                <p class="order-name">Name: Mary Grace</p>
                <p class="order-amount">Amount Due: PHP 90.00</p>
                <p>Status:<span class="status-inprogress "> In Progress</p>
            </div>
        </div>
    </div>
    <div class="order-container">
        <div class="order-item">
            <div class="order-details">
                <img src="images/pandamilktea.png">
                <p class="order-number">Order #9999</p>
                <br><br>
                <p class="product-name">Product: Panda Milk Tea</p>
                <p class="order-size">Size: Regular</p>
                <p class="order-date">Date: May 19, 2022</p>
                <p class="order-name">Name: John Doe</p>
                <p class="order-amount">Amount Due: PHP 90.00</p>
                <p>Status:<span class="status-forpickup"> Ready for Pickup</p>
            </div>
        </div>
    </div>
</body>
</html>