* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

label + input {
    padding: 7px;
    width: 50%;
    
}

#reghead > label {
    
}

body {
    background-image: url("../images/loginpage.png");
}

input[type=text] {
    border: 2px solid #C39334;
    margin-bottom: 5px;
}

select {
    width: 80%;
    padding: 1px;
}

#questions {
    text-align: left;
    padding: 20px;
}

.q_input {
    margin: 6px;
    margin-left: 28px;
}

#reghead {
    
    border-radius: 25px;
   
    background-color: #F07F19;
    overflow: hidden;
    display: inline-block;
    /*margin: 200px 0px 20px 410px;*/
    width:600px;
    border-style: dotted;

    

    /*width: 50%;*/
    
    text-align: center;

    

    font-family:Verdana;
    color:white;

    
    background-size: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding-bottom: 20px;

}

#childhead {
    padding: 10px;
}

h1 {
    font-size:22px;
}

.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }


.button {
    
    

  background-color: #F07F19; /* Green */
  border: solid white;
  background-color: #C39334;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 5px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 4px;

  

}

#registerbutton:disabled,
#nextbutton:disabled {
    cursor: not-allowed;
    
    opacity: 0.6;
}

#logo {
    width: 150px;
    length: 100px;
    
}

.u-link {
    color: white;
    text-decoration: none;
}

.u-link:hover {
    text-decoration: underline;
}
