#status-header {
    font-family: Verdana;
    margin-left: auto;
    margin-right: auto;
    margin-top: 26px;
    color: #3E3B3B;
    font-size: 25px;
    text-align: center;
}

.order-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 50%;
    margin-bottom: 10px;
    margin-left: 25%;
    padding-bottom: 15%;
    border-radius: 10px;
    position: relative; */
}

.order-item {
    width: 25%;
    margin: 10px;
    background-color: #DDDDDD;
    border-radius: 10px;
    font-family: Verdana;
    font-size: 0.952vw;
    color: #3E3B3B;
    padding: 20px;
}

.item-quantity {
  font-weight: bold;
}

.order-number {
    font-weight: bold;

    font-size: 120%;
    text-align: center;
}

.status-inprogress {
    color: orange;
}

.status-forpickup {
    color: green;
}